name: CI with matrix strategy

# specify what events trigger your workflow
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      # =======================================================================
      # run for all the combinations of OS, compiler and build_type
      # =======================================================================
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        compiler:
          - llvm
          - gcc
          - msvc
        generator:
          - "Ninja Multi-Config"
        build_type:
          - Release
          - Debug

        exclude:
          - os: windows-latest
            compiler: gcc
            # no msvc on non-windows OS
          - os: macos-latest
            compiler: msvc
          - os: ubuntu-latest
            compiler: msvc
          # -------------------------------------------------------------------
          # because of the following problem: https://stackoverflow.com/questions/68878564/missing-typename-in-gcc-11-1-0-ranges-header
          # we exclude ubuntu-latest with llvm from the matrix
          # -------------------------------------------------------------------
          - os: ubuntu-latest
            compiler: llvm

        # include overrides default and exclude rules so it should come last
        # include:
        # # Add appropriate variables for gcov version required. This will intentionally break
        # # if you try to use a compiler that does not have gcov set
        # - compiler: gcc
        #   gcov_executable: gcov
        # - compiler: llvm
        #   gcov_executable: "llvm-cov gcov"

        # # Set up preferred package generators, for given build configurations
        # - build_type: Release
        #   package_generator: TBZ2

        # - os: windows-2022
        #   compiler: msvc
        #   generator: "Visual Studio 17 2022"
        #   build_type: Debug
        # - os: windows-2022
        #   compiler: msvc
        #   generator: "Visual Studio 17 2022"
        #   build_type: Release
        #   package_generator: ZIP

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "true"

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1
        with:
          compiler: ${{ matrix.compiler }}
          vcvarsall: ${{ contains(matrix.os, 'windows' )}}

          cmake: true
          ninja: true
          ccache: true
          clangtidy: true
          clangformat: true

          cppcheck: true

          gcovr: true
          opencppcoverage: true

      - name: Configure CMake
        run: |
          cmake -S . -B ./build -G "${{matrix.generator}}" -DCMAKE_BUILD_TYPE:STRING=${{matrix.build_type}} -DOPT_ENABLE_COVERAGE:BOOL=${{ matrix.build_type == 'Debug' }} -DGIT_SHA:STRING=${{ github.sha }}

      - name: Build
        run: |
          cmake --build ./build --config ${{matrix.build_type}}

      - name: Unix - Test and coverage
        if: runner.os != 'Windows'
        working-directory: ./build
        run: |
          ctest -C ${{matrix.build_type}}
          # gcovr -j ${{env.nproc}} --delete --root ../ --print-summary --xml-pretty --xml coverage.xml . --gcov-executable '${{ matrix.gcov_executable }}'

      - name: Windows - Test and coverage
        if: runner.os == 'Windows'
        working-directory: ./build
        run: |
          ctest -C ${{matrix.build_type}}
          # OpenCppCoverage.exe --export_type cobertura:coverage.xml --cover_children -- ctest -C ${{matrix.build_type}}
